h1 {
    font-size: 100px;
}

h2, h2, p, a, ol, ul, li {
    font-family: sans-serif, Arial, Helvetica;
}

main {
    background-color: #87BFFF;
}

footer {
    background-color: #3F8EFC;
}

a {
    font-size: 17px;
  }
  
a:link    { color: blue;  }
a:visited { color: red;   }
a:hover   { color: green; }
a:active  { color: pink;  }

p {
    color: #190c80;
    font-size: 20px;
}

hr {
  height: 10px;
  background-color: #3F8EFC;
  border: 2px solid #3F8EFC;
      /* size style color */
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
    background-color: #ADD7F6;
    padding: 5px 5px;
    font-size: 17px;
  }
  
.list-inside li {
    list-style-position: inside;
}

footer > ol> li> a > img {
    width: 100px;
    height: 25px;
}

.align-center {
    text-align: center;
}
